* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url('hero-bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background-color: rgba(225, 202, 202, 0.5);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4a4aff;
}

.signup-btn {
  text-decoration: none;
  background-color: #4a4aff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
}

